<!DOCTYPE html>
<html>
  <head>
      <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
      <title> home </title>
  </head>
  <body>
    <header>
        <h1 id="anim"> Whale Shop </h1>
    </header>
    <h2 class="orange"> buy authentic whales! </h2>
    <p id="police">  fresh and big, the best whales you'll ever buy!</p>
    <img src="static/whale1.jpeg" style="width:160px;height:140px">
    <br><br><br>
    <a href="{{url_for('shop')}}"> CLICK HERE </a>
  </body>
</html>
